// Colors
$slider-bg-color: #000080;
$login-bg-color: #f2f4f8;

$primary-text-color: #585858;
$slider-text-color: #ffffff;

$primary-links-color: #0099ff;

$secondary-bg-color: #222;

$dark-grey: #aeb2b6;
$light-blue: rgba(64, 102, 205, 0.199);
$pyramid-color: #f1f5f8;

$dark-grey: #777;
$triangle-color: #f1f5f8;
