@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'ProximaNova';
    src: url(@/assets/fonts/ProximaNova.otf) format('OpenType');
}

@font-face {
    font-family: 'icomoon';
    src: url(@/assets/fonts/icomoon.ttf) format('truetype');
}

[class^='icon-'],
[class*=' icon-'] {
    font-family: 'icomoon' !important;
    line-height: 1;
}
