@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;700;900&display=swap');



// Fonts
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$third-font: 'Cairo', sans-serif;

$heading-font:'Playfair Display', serif;
